{% extends "base.html" %}

{% block content %}
<div>
    <h1>Create New Election</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(cols=32, rows=4) }}
        </p>
        <p>
            {{ form.voter_file.label }}<br>
            {{ form.voter_file() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}