{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="title">My Elections</h1>
    <a href="{{ url_for('main.create_election') }}" class="button is-link is-rounded" style="margin-bottom: 20px; font-weight: bold;">Create New Election</a>

    {% if elections %}
    <div class="columns is-multiline">
        {% for election in elections %}
        <div class="column is-one-third">
            <div class="card is-rounded">
                <header class="card-header">
                    <p class="card-header-title">
                        {{ election.title }}
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <p>{{ election.description }}</p>
                        <p>Start: {{ election.created_at }}</p>
                        <p>End: {{ election.end_date }}</p>
                        <p>Status: 
                            {% if election.status == 'In Progress' %}
                                <span style="color: green;">{{ election.status }}</span>
                            {% else %}
                                <span>{{ election.status }}</span>
                            {% endif %}
                        </p>
                        <details>
                            <summary>Results</summary>
                            {% for question in election.questions %}
                            <div style="text-align: center;"><strong>{{ question.text }}</strong></div>
                            <ul style="list-style-type: none; padding: 0; margin: 0 auto; text-align: center;">
                                {% for option in question.options %}
                                    <li style="padding: 0; margin: 0;">{{ option.text }} - Votes: {{ option.vote_count|default('0', true) }}</li>
                                {% endfor %}
                            </ul>
                            {% endfor %}
                        </details>
                        <div style="margin: 12px;"></div>
                        <details class="mt-2">
                            <summary>Voters ({{ election.voters|length }})</summary>
                            <ul>
                                {% for voter in election.voters %}
                                <li>{{ voter.email }} - {{ voter.name }}</li>
                                {% else %}
                                <li>No voters added yet.</li>
                                {% endfor %}
                            </ul>
                        </details>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="{{ url_for('main.download_voters', election_id=election.id) }}"
                        class="card-footer-item">Download Voters CSV</a>
                </footer>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="notification is-warning">
        You have not created any elections yet.
    </div>
    {% endif %}
</div>
{% endblock %}